* {
  margin: 0;
  padding: 0;
}

body {
  color: #adbac7;
  background-color: #1c2128;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  margin: 50px auto;
}

.sidebar {
  padding-right: 40px;
}

.primary {
  flex: 1;
}

.btn-reset {
  padding: 4px 12px;
}

.square {
  border: 1px solid skyblue;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}

.bg-gray {
  background-color: slategray;
}

.group {
  margin-bottom: 12px;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.ta-center {
  text-align: center;
}

.w-fit {
  width: 100%;
}

@media screen and (min-width: 1170px) {
  .wrapper {
    width: 1170px;
  }
}
